<section id="about" class="bg-black">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
        <div class="max-w-lg">
          <h2 class="text-3xl font-extrabold text-white sm:text-7xl">
            About <span class="text-lime-500">Me</span>
          </h2>
          <p class="mt-4 text-white text-2xl">
            🚀 I'm a proactive individual who thrives as an excellent team
            player, organized, and responsible. I'm always eager to dive into
            new experiences, driven by the excitement of learning. <br />My
            goal? Securing a challenging and dynamic position where I can share
            my experience and at the same time gain new knowledge 🧠 as I embark
            on a journey of continuous growth and discovery. Let's make waves
            together! 🌊
          </p>
          <div class="mt-8">            
            <a href="YojanLoaizaagudelo_CV.pdf" download="YojanLoaizaagudelo_CV.pdf"class="text-lime-500 hover:text-lime-300 text-2xl "
              >DOWNLOAD MY CV
              <span class="ml-2">&#8595;</span></a
            >
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <img
            src="/profile.jpg"
            alt="About Us Image"
            class="object-cover rounded-lg shadow-md"
          />
        </div>
      </div>
    </div>
  </section>