<nav class="flex flex-wrap justify-around  bg-black text-white p-6 text-xl" >
  <a href="" class="text-xl">Yojan Loaiza <span class="text-lime-500">.DEV< /> </span></a>
  <div class="space-x-8" >
    <a class="hover:text-lime-500" href="#about">About</a>
    <a class="hover:text-lime-500" href="#works">Projects</a>
    <a class="hover:text-lime-500" href="#contact">Contact</a>
  </div>
</nav>


